In [1]:
import pandas as pd

In [2]:
# Load the dataset into dataframe
df = pd.read_csv('./DATASET/candles_6_month.csv')
print(df.head(5))
print(df.columns)

  symbol           unix                 t       o       h       l       c  \
0   TSLA  1662019200000  2022-09-01 04:00  271.57  272.66  270.39  271.00
1   TSLA  1662019260000  2022-09-01 04:01  271.05  271.10  271.00  271.00
2   TSLA  1662019320000  2022-09-01 04:02  270.66  270.66  270.16  270.16
3   TSLA  1662019380000  2022-09-01 04:03  270.48  270.61  270.40  270.54
4   TSLA  1662019440000  2022-09-01 04:04  270.54  270.54  270.50  270.54

       v        vw
0  13617  271.1647
1   2424  271.0240
2   4099  270.4396
3   4557  270.5173
4  11864  270.5353
Index(['symbol', 'unix', 't', 'o', 'h', 'l', 'c', 'v', 'vw'], dtype='object')

In [3]:
print(df['symbol'].unique())

['TSLA' 'AMD']

In [8]:
# Rename the columns as sample format
df = df.rename(columns={'t': 'time stamp', 'o': 'open', 'h': 'high', 'l': 'low', 'c': 'close', \
                   'v': 'volume'})[['symbol', 'time stamp', 'open', 'high', 'low', 'close', 'volume']]
df

       symbol        time stamp    open    high     low   close  volume
0        TSLA  2022-09-01 04:00  271.57  272.66  270.39  271.00   13617
1        TSLA  2022-09-01 04:01  271.05  271.10  271.00  271.00    2424
2        TSLA  2022-09-01 04:02  270.66  270.66  270.16  270.16    4099
3        TSLA  2022-09-01 04:03  270.48  270.61  270.40  270.54    4557
4        TSLA  2022-09-01 04:04  270.54  270.54  270.50  270.54   11864
...       ...               ...     ...     ...     ...     ...     ...
253355    AMD  2023-03-13 19:55   82.16   82.16   82.16   82.16    1220
253356    AMD  2023-03-13 19:56   82.16   82.16   82.16   82.16     500
253357    AMD  2023-03-13 19:57   82.18   82.18   82.18   82.18     277
253358    AMD  2023-03-13 19:58   82.19   82.19   82.19   82.19     186
253359    AMD  2023-03-13 19:59   82.19   82.28   82.19   82.25    6489

[253360 rows x 7 columns]

In [26]:
# Create the dataframe for each stock
df_tsla = df[df['symbol'] == 'TSLA']
df_tsla = df_tsla.reset_index()
df_tsla['index'] = df_tsla['index'] - df_tsla['index'][0]

df_amd = df[df['symbol'] == 'AMD']
df_amd = df_amd.reset_index()
df_amd['index'] = df_amd['index'] - df_amd['index'][0]

df_tsla = df_tsla[['symbol', 'time stamp', 'open', 'high', 'low', 'close', 'volume']]
df_amd = df_amd[['symbol', 'time stamp', 'open', 'high', 'low', 'close', 'volume']]
print(df_tsla.head(5))
print(df_amd.head(5))

  symbol        time stamp    open    high     low   close  volume
0   TSLA  2022-09-01 04:00  271.57  272.66  270.39  271.00   13617
1   TSLA  2022-09-01 04:01  271.05  271.10  271.00  271.00    2424
2   TSLA  2022-09-01 04:02  270.66  270.66  270.16  270.16    4099
3   TSLA  2022-09-01 04:03  270.48  270.61  270.40  270.54    4557
4   TSLA  2022-09-01 04:04  270.54  270.54  270.50  270.54   11864
  symbol        time stamp   open   high    low  close  volume
0    AMD  2022-09-01 04:00  81.65  82.12  81.60  82.04    1969
1    AMD  2022-09-01 04:01  81.87  81.99  81.87  81.87    1597
2    AMD  2022-09-01 04:02  81.87  81.87  81.66  81.71    6128
3    AMD  2022-09-01 04:03  81.65  81.65  81.54  81.55   10849
4    AMD  2022-09-01 04:04  81.84  81.90  81.80  81.80    1894

In [27]:
df_tsla.to_csv('./DATASET/tsla_6month.csv')
df_amd.to_csv('./DATASET/amd_6month.csv')